@(loginForm: Form[LoginForm])
@main("Login") {
@helper.form(routes.LoginController.login()){
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/abc.css")"/>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"> <a href="@routes.LoginController.preRegister()">Sign Up</a></label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input type="text" name="username" placeholder="Name" class="input" value="@loginForm("username").value">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input type="password" name="password" placeholder="Password" class="input" data-type="password" value="@loginForm("password").value">
                </div>

                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>
        </div>
    </div>
</div>
}
}